.container {
    background: #fed953;
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 0;
    right: 0;
    top: 100vh;
    bottom: 0;
    z-index: 999;
    animation: showUp 0.4s ease;
    animation-play-state: paused;
    animation-fill-mode: forwards;
}

@keyframes showUp {
    from {
        top: 100vh;
    }
    to {
        top: 0;
    }
}