.calculator {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999;
  overflow: hidden;
  border-top: 1px solid #ccc;
  width: 100vw;
  background: #fafafa;
  font-size: 24px;
}
.calculator .line {
  padding: 10px;
  height: 50px;
  line-height: 50px;
  overflow: hidden;
}
.calculator .line .remark {
  float: left;
  padding-left: 20px;
}
.calculator .line .remark .remark_input {
  border: 0;
  background: transparent;
  margin-left: 8px;
}
.calculator .line .price {
  float: right;
  font-size: 34px;
  font-weight: bolder;
}
.calculator .keyboard {
  clear: both;
  width: 100vw;
  border-collapse: collapse;
  border: 1px solid #ccc;
  text-align: center;
  font-size: 34px;
}
.calculator .keyboard td {
  border: 1px solid #ccc;
  height: 100px;
  width: 25vw;
}
.calculator .keyboard .backSign img {
  vertical-align: middle;
  width: 25%;
  margin-bottom: 5px;
}
.calculator .keyboard .equalSign {
  background: #fed953;
}
.toast {
  font-size: 20px;
  padding: 20px 40px;
}
