.container {
  width: 100vw;
  height: 100vh;
  position: absolute;
  left: 0;
  right: 0;
  top: 100vh;
  bottom: 0;
  z-index: 999;
  background: #fff;
}
.container .tabContent {
  padding: 10px;
}
.container .tabbar {
  position: relative;
  background: #fed953;
}
.container .tabbar .tablist {
  width: 180px;
  margin: 0 auto;
  overflow: hidden;
}
.container .tabbar .tablist li {
  font-size: 16px;
  width: 80px;
  height: 50px;
  line-height: 50px;
  margin: 0 5px;
  float: left;
  text-align: center;
}
.container .tabbar .cancel {
  position: absolute;
  top: 0;
  right: 20px;
  display: block;
  height: 50px;
  line-height: 50px;
}
