body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

img {
  content: normal !important;
}

a{
  text-decoration: none;
  color: #000;
}

ul, ol{
  list-style: none;
}

html, body, :global(#root) {
  height: 100vh;
  overflow: hidden;
}

button {
  border: 0;
  background: transparent;
}

/* 主题色：#fed953 */